/*-- scss:defaults --*/
$navbar-bg: #1e2330;
$navbar-fg: white;
$navbar-hl: #f8c91c;
$link-color: #4A92F0;
$h3-font-size: 2.5em;

/*-- scss:rules --*/

.large {
  font-size: 150%;
  font-weight: bold;
}

.img-right {
  float:right;
  max-width:40%;
  padding:15px;
}

.img-left {
  float:left;
  max-width:40%;
  padding:15px;
}

.img-center {
  display: block;
  margin-right:auto;
  margin-left:auto;
  padding:15px;
}

h2 {
  font-weight: bold;
  color: #c49a00;
}

h3 {
  padding-top: 10px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.date {
 font-weight: bold;
 color: #727d85;
}

.event-title{
 font-weight: bold;
 color: #1e2330;
 font-size: 125%;
}

.notice {
  color: #e05c5c;
  font-size: 125%;
}

.notice a {
  color: #e05c5c !important;
  font-weight: bold;
}

.section h2, .section h3, .section h4 {
  margin-top: 25px !important;
  padding-top: 5px !important;
  font-weight: bold;
  /*color: #f8c91c;*/
  color: #c49a00;
  font-weight: bold;
  letter-spacing: 0.025em;
  /*text-shadow:
    -1px -1px 0 #1e2330,
    1px -1px 0 #1e2330,
    -1px 1px 0 #1e2330,
    1px 1px 0 #1e2330;*/
}

.right {
  float:right;
  padding:10px;
}

p {
  padding-left: 5px;
}


.title {
  color: #1e2330;
  font-weight: bold;
}

body {
  font-size: 15px;
  padding: 10px;
  color: #000000;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  font-weight: bold;
}

.navbar-title {
  color: #f8c91c;
}

figcaption {
  text-align:center;
}
