/*-- scss:defaults --*/
$navbar-bg: #1E2330;
$navbar-fg: white;
$navbar-hl: #007C44; /*-- #f8C91c; --*/
$link-color: #007C44; /*-- #4A92F0; --*/
$h3-font-size: 1.75em;
$h5-font-size: 1em;

/*-- scss:rules --*/

.large {
  font-size: 150%;
  font-weight: bold;
}

@media (max-width: 400px) {
  .img-right {
    width: 100%;
    max-width: 100%;
  }
}

.quarto-title-banner {
	// Code from mcanouil at https://github.com/orgs/quarto-dev/discussions/1986
	position: relative;
    min-height: 50vh;
    background-color: transparent !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
	margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;

	font-family: Cambria;

	text-align: center;
	align-content: center;
	text-shadow: 1px 1px 2px #000000;
}

#quarto-content > * {
	margin: 0px;
	padding: 5px;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

.img-left {
  float: left;
  max-width: 40%;
  padding: 15px;
}

.img-right {
  float: right;
  max-width: 40%;
  padding: 15px;
}

h1 {
	margin-top: 5px;
}

h2 {
	margin-top: 5px;
  font-weight: bold;
  font-size: 2em;

  /*color: #c49a00; original yellow*/
  /*color: #26A576; newsletter green*/
}

h3 {
  padding-top: 10px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
  color: #727d85;
  padding-left: 5px
}

.date {
  font-weight: bold;
  color: #727d85;
}

.event-title {
  font-weight: bold;
  color: #1e2330;
  font-size: 125%;
}

.notice {
  color: #e05c5c;
  font-size: 125%;
}

.notice a {
  color: #e05c5c !important;
  font-weight: bold;
}

.section h2,
.section h3,
.section h4 {
  margin-top: 25px !important;
  padding-top: 5px !important;
  font-weight: bold;
  /*color: #f8c91c;*/
  color: #c49a00;
  font-weight: bold;
  letter-spacing: 0.025em;
  /*text-shadow:
    -1px -1px 0 #1e2330,
    1px -1px 0 #1e2330,
    -1px 1px 0 #1e2330,
    1px 1px 0 #1e2330;*/
}

.right {
  float: right;
  padding: 10px;
}

p {
  padding-left: 5px;
}

.title {
  color: #1e2330;
  font-weight: bold;
}

body {
  font-size: 15px;
  padding: 0px; /* removed padding for footer's sake */
  color: #000000;
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  font-weight: bold;
}

.navbar-title {
  font-weight: bold;
  font-family: Cambria, Arial;

  /*color: #f8c91c; original yellow*/
  /*color: #007C44; newsletter green*/
}

/* Footer */
.nav-footer {
  font-weight: bold;
}

figcaption {
  text-align: center;
}

.big-figure {
  width: 50%;
}

@media (max-width: 600px) {
  .big-figure {
    width: 100%;
  }
}

.med-figure {
  width: 30%;
}

@media (max-width: 400px) {
  .med-figure {
    width: 100%;
  }
}

/* Allow hiding headers from body but not from TOC */
h2.hide,
h3.hide {
  display: none;
}
